---
# This Sass file needs front matter (the dashes are enough)
---

/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  margin-top: 0;
}

.centered-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #999999;
  font-size: 32pt;
}

.initial-content {
  background-image: url("/assets/images/programmers-translucent.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}