---
# This Sass file needs front matter (the dashes are enough)
---

.masthead img {
  margin-left: 1em;
}

.page__footer {
  margin-top: 0;
  padding-left: 20px;
}

.splash-text {
  background-image: url("/assets/images/programmers-cropped-transparent.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 16em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  color: #0092ca;
  padding: 1em;
}
.under-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1280px;
  color: #0092ca;
  padding: 0.5em;
}

.initial-content .under-text {
  text-align: left;
  padding-top: 2em;
  color: #999999;
}

.initial-content .under-text i {
  color: #0092ca;
}

.under-text table td {
  border: 0;
  padding: 2em 2em 2em 2em;
  margin: 0;
  vertical-align: top;
  text-align: justify;
}

.splash-text h1 {
  font-size: 2em;
}

.under-text h1 {
  width: 100%;
  text-align: center;
}

.under-text h3 {
  margin-top: 0;
  color: #0092ca;
  text-align: left;
}

.under-text h3 i {
  color: #999999;
  opacity: 0.5;
}

.img-trim {
  max-height:400px;
  overflow: hidden;
}

.splash {
  opacity: 0.2;
}

.button {
  display: inline-block;
  background-color: #0092ca;
  color: #ffffff;
  margin: 1em;
  padding: 0.5em;
}


