---
# This Sass file needs front matter (the dashes are enough)
---

.masthead img {
  margin-left: 1em;
}

.page__footer {
  margin-top: 0;
  padding-left: 20px;
}

.page__footer a:link, .page__footer a:visited {
  color: white;
}

.page__footer a i.fab {
  color: #dddddd;
}

.initial-content {
  background-color: white;
}

.splash-text {
  background-size: 100%;
  background-color: white;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  padding: 0;
}

.bluflame-banner {
  background-image: url("/assets/images/banner.png");
  height: 6em;
}

.bluflame-banner h1 {
  color: #ffffff;
  font-weight: 400;
}

.codezero th {
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  height: 14em;
  padding: 0 0 1.66em 0;
  text-align: center;
}

.codezero th h1 {
  color: #000000;
  font-weight: 600;
  font-family: Roboto, Helvetica, Veranda, "sans-serif";
  font-size: 2em;
  text-align: center;
}

.codezero img {
  height: 6em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.under-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1280px;
  color: #5d7bb8;
  padding: 1em;
  background-color: white;
}

.initial-content .under-text, .archive {
  text-align: left;
  padding-top: 2em;
  color: #999999;
}

.initial-content .under-text i {
  color: #5d7bb8;
}

.initial-content .codezero i {
  color: #0092ca;
}

.under-text table td, .codezero-banner {
  border: 0;
  padding: 2em 2em 2em 2em;
  margin: 0;
  vertical-align: top;
  text-align: justify;
}

.splash-text h1 {
  font-size: 1.5em;
  text-align: center;
  position: relative;
  top: 1em;
}

.under-text h1 {
  width: 100%;
  text-align: center;
  color: #5d7bb8;
  font-weight: 400;
  font-size: 1.25em;
}

.under-text h3 {
  margin-top: 0;
  color: #5d7bb8;
  text-align: left;
}

.under-text h3 i {
  color: #999999;
  opacity: 0.5;
}

.under-text a {
  color: #5d7bb8;
}

.strikethrough {
  text-decoration: line-through;
}

.codezero h1 {
  text-align: left;
  font-size: 2em;
  color: #0092ca;
}

.under-text h1.statement {
  text-align: center;
  font-size: 1.25em;
  color: #5d7bb8;
}

.codezero {
  width: 100%;
  color: #0092ca;
  background-color: white;
}

.codezero .details {
  color: black;
  margin-top: 1em;
}

.img-trim {
  max-height:400px;
  overflow: hidden;
}

.splash {
  opacity: 0.2;
}

.button {
  display: inline-block;
  background-color: #0092ca;
  color: #ffffff;
  margin: 1em;
  padding: 0.5em;
}

.visible-links a, .visible-links a:hover {
  color: #999999;
}

#page-title {
  font-size: 1.5em;
  font-weight: 400;
  color: #5d7bb8;
}

.author__name {
  font-weight: 400;
}

.archive h2 {
  font-weight: 400
}

.archive h3 a, .archive h2 a, .archive h3 a:visited, .archive h2 a:visited, a, a:visited {
  font-weight: 400;
  color: #5d7bb8;
  text-decoration: none;
}

.archive h3 a:hover, .archive h2 a:hover, a:hover {
  color: #0092ca;
}

.archive__item-teaser img {
  width: 9em;
  margin-top: auto;
  margin-bottom: auto;
}

.list__item .archive__item-excerpt {
  margin-right: 203px;
}

article.page {
  color: #999999;
}

article.page h1, article.page h2, article.page h3 {
  color: #5d7bb8;
  font-weight: 400;
}

article.page h5 {
  font-size: 0.9em;
  font-style: italic;
}

article.page img {
  border: 1px solid #dddddd;
}

article.archive__item {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #dddddd;
}

article footer.page__meta {
  color: #666666;
}

.page__related {
  color: #666666;
}

.about-us {
  text-align: center;
  color: #5d7bb8;
  padding: 2em 2em 2em 2em;
}

.about-us h1 {
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 1em;
}

.about-us table {
  color: #999999;
}


