---
layout: archive
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
<section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">&middot;{{ year.name }}&middot;</h2>
    <div class="entries-{{ entries_layout }}">
        {% for post in year.items %}
        {% include archive-single.html type=entries_layout %}
        {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>
{% endfor %}
<iframe src="https://us6.list-manage.com/survey?u=0625cf3e033377017f549b586&id=b59009b378&attribution=false" style="border:none; width: 100%; height: 400px"></iframe>